<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Genie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Location.UserLocation"></activity>
        <activity android:name=".ui.ContactUs.ContactUs" />
        <activity android:name=".Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".End" />
        <activity android:name=".ui.checkout.Checkout" />
        <activity android:name=".Five" />
        <activity android:name=".Four" />
        <activity android:name=".Three" />
        <activity android:name=".ui.ServiceOne.One" />
        <activity android:name=".Two" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".ui.Feedback.Feedback"/>
        <activity android:name=".ui.Feedback.ThankYoupage"/>
        <activity
            android:name=".MainActivity"
            android:label="Genie"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>